@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

body {
    background-image: url(https://wallpaperaccess.com/full/722742.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-1 {
    color: whitesmoke;
    font-family: 'Lobster', cursive;
    font-size: 54px;
    align-items: center;
}
.titulo-2 {
    color:rgb(245, 245, 129)
}
.contenedor {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 900px;
    height: 120px;
    background: #463f45;
    opacity: .8;
    border: 10px solid rgba(2, 1, 0, .3);
}
.titulo-3 {
    -webkit-text-stroke: 2px black;
    color: rgb(246, 225, 225);
}
.imagenes { 
    align-items: center;
    display: flex;
    justify-content: center;
}
.imagenes-2 { 
    align-items: center;
    display: flex;
    justify-content: center;
}
.titulo-4 {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lobster', cursive;
    font-size: 42px;
    color: rgb(162, 130, 150);
    -webkit-text-stroke: 1px rgba(236, 235, 235, 0.261);
}